@import "tailwindcss";

@theme {

  --color-background: #EBE9E9; 
  --color-primary: #0A369D;
  --color-accent: #7D4F50;
  /* --color-highlight: #009EFF; */
  --color-highlight: var(--color-teal-400);
  --color-warning: #FF7D00;
  --color-error: #DB162F;
  --color-muted: #6E6362;
  --color-dark: #000000;
  --color-light: #f1faee;
  /* --color-accent: #0A369D; */
  
  /* --color-background: #D5E9F1; 
  --color-primary: #012169;
  --color-accent: #009EFF;
  --color-highlight: #2465FF;
  --color-error: #C43E26;
  --color-dark: #000000;
  --color-light: #f1faee; */
  
  /* 47758F */
  /* --color-background: #264653;
  --color-primary: #2a9d8f;
  --color-accent: #e9c46a;
  --color-highlight: #f4a261;
  --color-error: #e76f51;
  --color-dark: #1d1d1d;
  --color-light: #f1faee; */

  /* --color-mario-red: #e63946;
  --color-coin-yellow: #f1fa3c;
  --color-sky-pastel: #a8dadc;
  --color-mario-green: #2a9d8f;
  --color-brick-brown: #6d4c41; */
}

#root {
  /* max-width: 1280px; */
  /* max-width: none; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  height: 100%;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body{
  color: var(--color-dark);
  background-color: var(--color-background);
}

a{
  color: var(--color-light);
}

a:hover{
  color: var(--color-highlight);
}
